@tailwind base;
@tailwind components;
@tailwind utilities;



.bg,
.overlay  {
    background-image: url('./assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.char-card {
    position: relative; 
}

.char-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: center;
    top: 360px;        
}

.char-card:hover .overlay {
    top: 0;
}